src/.vs/
src/WebApp/bin/
src/WebApp/obj/
src/WebApp/wwwroot/lib/
src/WebApp/wwwroot/media/upload/1aedb8d9dc4751e229a335e371db8058/08cd3fa8-2fe7-4f9a-8d14-8d0110549c72124600_3390.jpg
src/WebApp/wwwroot/media/
